body{
    background-image: url("https://wallpapergod.com/images/hd/twenty-one-pilots-1920X1080-wallpaper-wasimuapd5abijwl.jpeg");
    background-size: cover;
}
video {
    width: center;
    height: center;
    background-position: center;
    background-size: cover;
}